/* star.css */

.star-canvas-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
  }
  
  .star-canvas-wrapper canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  